# 作業 : (Kaggle)鐵達尼生存預測精簡版 
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著不依賴說明, 只依照下列程式碼回答下列問題, 初步理解什麼是"特徵工程"的區塊

# [作業重點]
- 試著不依賴註解, 以之前所學, 回答下列問題

# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?

# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) 

# 作業3
* 續上題，請問哪個欄位是"目標值"?

In [27]:
# 程式區塊 A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [28]:
# 程式區塊 B
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head(100)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...
70,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S

In [29]:
# 程式區塊 C
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head(100)

D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.000000,0.775862,0.016072,0.000000,1.000000
1,0.0,0.218989,0.0,0.481481,0.125,0.000000,0.879310,0.140813,0.575269,0.333333
2,1.0,0.400459,0.0,0.333333,0.000,0.000000,0.984914,0.017387,0.000000,1.000000
3,0.0,0.323124,0.0,0.444444,0.125,0.000000,0.070043,0.105390,0.381720,1.000000
4,1.0,0.016845,1.0,0.444444,0.000,0.000000,0.699353,0.017630,0.000000,1.000000
5,1.0,0.626340,1.0,0.000000,0.000,0.000000,0.401940,0.018425,0.000000,0.666667
6,0.0,0.587289,1.0,0.679012,0.000,0.000000,0.117457,0.102980,0.881720,1.000000
7,1.0,0.699847,1.0,0.037037,0.375,0.111111,0.582974,0.043004,0.000000,1.000000
8,1.0,0.463247,0.0,0.345679,0.000,0.222222,0.514009,0.023636,0.000000,1.000000
9,0.5,0.648545,0.0,0.185185,0.125,0.000000,0.187500,0.060528,0.000000,0.333333
10,1.0,0.816998,0.0,0.061728,0.125,0.111111,0.904095,0.034481,0.994624,1.000000
11,0.0,0.101838,0.0,0.728395,0.000,0.000000,0.053879,0.053669,0.338710,1.000000
12,1.0,0.819296,1.0,0.259259,0.000,0.000000,0.789871,0.017630,0.000000,1.000000
13,1.0,0.029096,1.0,0.493827,0.125,0.555556,0.494612,0.062874,0.000000,1.000000
14,1.0,0.934916,0.0,0.185185,0.000,0.000000,0.609914,0.017249,0.000000,1.000000
15,0.5,0.408116,0.0,0.691358,0.000,0.000000,0.219828,0.033117,0.000000,1.000000
16,1.0,0.761868,1.0,0.037037,0.500,0.111111,0.710129,0.058686,0.000000,0.666667
17,0.5,0.973201,1.0,0.000000,0.000,0.000000,0.216595,0.027273,0.000000,1.000000
18,1.0,0.931853,0.0,0.395062,0.125,0.000000,0.449353,0.037013,0.000000,1.000000
19,1.0,0.581930,0.0,0.000000,0.000,0.000000,0.261853,0.016023,0.000000,0.333333
20,0.5,0.323890,1.0,0.444444,0.000,0.000000,0.196121,0.052598,0.000000,1.000000
21,0.5,0.085758,1.0,0.432099,0.000,0.000000,0.218750,0.027273,0.774194,1.000000
22,1.0,0.595712,0.0,0.197531,0.000,0.000000,0.408405,0.017589,0.000000,0.666667
23,0.0,0.850689,1.0,0.358025,0.000,0.000000,0.058190,0.071104,0.096774,1.000000
24,1.0,0.702144,0.0,0.111111,0.375,0.111111,0.582974,0.043004,0.000000,1.000000
25,1.0,0.049005,0.0,0.481481,0.125,0.555556,0.489224,0.063093,0.000000,1.000000
26,1.0,0.284074,1.0,0.000000,0.000,0.000000,0.256466,0.016023,0.000000,0.333333
27,0.0,0.309342,1.0,0.246914,0.375,0.222222,0.132543,0.514290,0.435484,1.000000
28,1.0,0.677642,0.0,0.000000,0.000,0.000000,0.414871,0.017297,0.000000,0.666667
29,1.0,0.908116,1.0,0.000000,0.000,0.000000,0.537716,0.017330,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...
70,0.5,0.449464,1.0,0.407407,0.000,0.000000,0.821121,0.022403,0.000000,1.000000
71,1.0,0.351455,0.0,0.209877,0.625,0.222222,0.835129,0.093312,0.000000,1.000000
72,0.5,0.427259,1.0,0.271605,0.000,0.000000,0.912716,0.145131,0.000000,1.000000
73,1.0,0.180704,1.0,0.333333,0.125,0.000000,0.296336,0.030106,0.000000,0.333333
74,1.0,0.092649,1.0,0.407407,0.000,0.000000,0.112069,0.112006,0.000000,1.000000
75,1.0,0.619449,1.0,0.320988,0.000,0.000000,0.518319,0.016851,0.967742,1.000000
76,1.0,0.868300,1.0,0.000000,0.000,0.000000,0.529095,0.017330,0.000000,1.000000
77,1.0,0.633997,1.0,0.000000,0.000,0.000000,0.700431,0.017630,0.000000,1.000000
78,0.5,0.140888,1.0,0.022593,0.000,0.222222,0.227371,0.058442,0.000000,1.000000
79,1.0,0.262634,0.0,0.382716,0.000,0.000000,0.639009,0.026250,0.000000,1.000000
80,1.0,0.936447,1.0,0.283951,0.000,0.000000,0.452586,0.019481,0.000000,1.000000
81,1.0,0.827718,1.0,0.370370,0.000,0.000000,0.463362,0.020455,0.000000,1.000000
82,1.0,0.592649,0.0,0.000000,0.000,0.000000,0.411638,0.017119,0.000000,0.666667
83,0.0,0.156968,1.0,0.358025,0.000,0.000000,0.037716,0.093702,0.000000,1.000000
84,0.5,0.437979,0.0,0.222222,0.000,0.000000,0.938578,0.022403,0.000000,1.000000
85,1.0,0.058959,0.0,0.419753,0.375,0.000000,0.358836,0.032825,0.000000,1.000000
86,1.0,0.304747,1.0,0.209877,0.125,0.333333,0.995690,0.068913,0.000000,1.000000
87,1.0,0.849923,1.0,0.000000,0.000,0.000000,0.963362,0.017630,0.000000,1.000000
88,0.0,0.308576,0.0,0.296296,0.375,0.222222,0.132543,0.514290,0.435484,1.000000
89,1.0,0.166922,1.0,0.308642,0.000,0.000000,0.442888,0.017630,0.000000,1.000000
90,1.0,0.178407,1.0,0.370370,0.000,0.000000,0.443966,0.017630,0.000000,1.000000
91,1.0,0.032159,1.0,0.259259,0.000,0.000000,0.507543,0.017249,0.000000,1.000000
92,0.0,0.167688,1.0,0.580247,0.125,0.000000,0.997845,0.121121,0.833333,1.000000
93,1.0,0.242726,1.0,0.333333,0.125,0.222222,0.808190,0.042030,0.000000,1.000000
94,1.0,0.211332,1.0,0.740741,0.000,0.000000,0.634698,0.016072,0.000000,1.000000
95,1.0,0.830781,1.0,0.000000,0.000,0.000000,0.702586,0.017630,0.000000,1.000000
96,0.0,0.343798,1.0,0.888889,0.000,0.000000,0.894397,0.069457,0.091398,0.333333
97,0.0,0.359112,1.0,0.296296,0.000,0.111111,0.899784,0.125374,0.639785,0.333333
98,0.5,0.258040,0.0,0.432099,0.000,0.111111,0.160560,0.046754,0.000000,1.000000
99,0.5,0.474732,1.0,0.432099,0.125,0.000000,0.214440,0.052598,0.000000,1.000000

In [4]:
# 程式區塊 D
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [5]:
# 程式區塊 E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('titanic_baseline.csv', index=False)

## 作業

1. 程式區塊 C 是特徵工程。
2. 類別型欄位：Pclass, Sex
3. 目標值：Survived